<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ActiveDirectoryEndpoint" value="https://login.windows.net/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />

    <add key="ApplicationId" value="b32b83c2-3ca2-4580-a967-0fceb8f29295" />
    <add key="Password" value="dD+Dfk6fgQEIJksSOdKXYas/00UTC4EPHP85ZiofVKw=" />
    <add key="SubscriptionId" value= "796eaf7c-2e26-4938-9b94-0f2369c33d74" />
    <add key="ActiveDirectoryTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
  </appSettings>
</configuration>